#my-feedback-form-modal.reveal-modal.x-small{"data-reveal" => ""}
  %h3#feedback-form how are we doing ?
  %h4 we've just launched and would love to hear from you...
  .modal-body
  .modal-footer
    %button#send-feedback.btn.btn-primary{name: "commit", type: "submit", value: "Submit"} Submit
  %a.close-reveal-modal &#215;
