<!DOCTYPE html>
<html>
<head>
  <title>MyFeedbackForm</title>
  <%= stylesheet_link_tag    "my-feedback-form/application", :media => "all" %>
  <%= javascript_include_tag "my-feedback-form/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
